name: client

on: 
    push:
        paths:
            - 'client/**'
        branches:
            - main
    pull_request:
        paths:
            - 'client/**'

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: actions/cache@v5
              with:
                path: ~/.npm
                key: client-${{ hashFiles('client/package-lock.json') }}
            - run: cd client && npm install && npm run test:ci
    build:
        needs: test
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - run: cd client && docker build --cache-from apkwan/ticket-client:latest -t apkwan/ticket-client .
            - uses: docker/login-action@v2
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}
            - run: docker push apkwan/ticket-client
    deploy:
        needs: build
        runs-on: ubuntu-latest
        steps:
            - uses: digitalocean/action-doctl@v2
              with:
                token: ${{ secrets.DO_API_TOKEN }}
            - run: doctl kubernetes cluster kubeconfig save ticket
            - run: kubectl rollout restart deployment client-depl