name: expiration

on: 
    push:
        paths:
            - 'expiration/**'
        branches:
            - main
    pull_request:
        paths:
            - 'expiration/**'

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: actions/cache@v5
              with:
                path: ~/.npm
                key: expiration-${{ hashFiles('expiration/package-lock.json') }}
            - run: cd expiration && npm install && npm run test:ci
    build:
        needs: test
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - run: cd expiration && docker build --cache-from apkwan/ticket-expiration:latest -t apkwan/ticket-expiration .
            - uses: docker/login-action@v2
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}
            - run: docker push apkwan/ticket-expiration
    deploy:
        needs: build
        runs-on: ubuntu-latest
        steps:
            - uses: digitalocean/action-doctl@v2
              with:
                token: ${{ secrets.DO_API_TOKEN }}
            - run: doctl kubernetes cluster kubeconfig save ticket
            - run: kubectl rollout restart deployment expiration-depl