name: orders

on: 
    push:
        paths:
            - 'orders/**'
        branches:
            - main
    pull_request:
        paths:
            - 'orders/**'

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: actions/cache@v5
              with:
                path: ~/.npm
                key: orders-${{ hashFiles('orders/package-lock.json') }}
            - run: cd orders && npm install && npm run test:ci
    build:
        needs: test
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - run: cd orders && docker build --cache-from apkwan/ticket-orders:latest -t apkwan/ticket-orders .
            - uses: docker/login-action@v2
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}
            - run: docker push apkwan/ticket-orders