name: test-auth

on: 
    push:
        paths:
            - 'auth/**'
        branches:
            - main
    pull_request:
        paths:
            - 'auth/**'

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: actions/cache@v5
              with:
                path: ~/.npm
                key: auth-${{ hashFiles('auth/package-lock.json') }}
            - run: cd auth && npm install && npm run test:ci
    build:
        needs: test
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: actions/cache@v5
              with:
                path: ~/.npm
                key: auth-${{ hashFiles('auth/package-lock.json') }}
            - run: cd auth && docker build --cache-from apkwan/ticket-auth:latest -t apkwan/ticket-auth .
            - uses: docker/login-action@v2
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}
            - run: docker push apkwan/ticket-auth